name: "realtime-platform"
services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: realtime_dev
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8.4
    restart: unless-stopped
    ports:
      - 6379:6379

volumes:
  postgres_data:
